@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Something goes here?????</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse</h2>
        <p>
            Browse hundreds of items by department.
        </p>
        <p><a class="btn btn-default" href="departments.html">Go</a></p>
    </div>
    <div class="col-md-4">
        <h2>Easy to Buy</h2>
        <p>Make purchases without signing in, or create an account for a faster checkout experience next time you make a purchase.</p>
    </div>
    <div class="col-md-4">
        <h2>Sell</h2>
        <p>Display your products and manage your sales with our custom CMS software.</p>
    </div>
</div>